In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics import mean_squared_error
from math import sqrt
from scipy.sparse import csr_matrix
from sklearn.decomposition import TruncatedSVD
from sklearn.neighbors import NearestNeighbors

## Setul de date Book-Crossing

In [86]:
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding='latin-1')

users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding='latin-1')

books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
print(books.shape)

#Remove duplicate rows for Book-Title
books = books.drop_duplicates(['Book-Title'], keep='last')
print(books.shape)

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(271360, 8)
(242135, 8)

In [87]:
ratings_book_title = pd.merge(ratings, books, on='ISBN')
columns = ['Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M' , 'Image-URL-L']
ratings_book_title = ratings_book_title.drop(columns, axis=1)
ratings_book_title.head()

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel
2     6543  034545104X            0  Flesh Tones: A Novel
3     8680  034545104X            5  Flesh Tones: A Novel
4    10314  034545104X            9  Flesh Tones: A Novel

In [88]:
ratings_book_title = ratings_book_title.dropna(axis=0, subset=['Book-Title'])

In [99]:
ratings_book_title.groupby('ISBN')['Book-Rating'].count().reset_index().sort_values('Book-Rating', ascending=False)[:600]

              ISBN  Book-Rating
190062  0971880107         2502
33998   0316666343         1295
28695   0312195516          723
81365   0446672211          585
33927   0316601950          568
89370   0452282152          526
6578    0060930535          494
114245  0671021001          468
113762  0671003755          446
7320    0060976845          434
190502  1400034779          431
55183   0375706771          380
4873    0060502258          376
33557   0316284955          356
29908   0312291639          354
6683    0060934417          350
61632   0385335482          350
89394   0452282829          342
62393   0385492081          341
128060  0684872153          326
7375    0060987103          326
6771    0060938455          321
60993   0385265700          319
54993   0375700757          311
58610   0380789035          302
55357   0375725784          302
33120   0316096199          301
37317   0345313860          301
30037   0312305060          294
7615    0061009059          291
...            ...          ...
179733  0894808249           63
93098   0515111279           63
34166   0316779237           63
123711  0679457313           63
86218   0451190556           63
8895    0061097861           63
7417    0061000027           62
192196  1551667010           62
127115  0684835959           62
47558   0373250118           62
93627   0515133639           62
60730   0385234104           62
57300   0380723638           62
101467  0553277537           62
101519  0553278746           62
156658  0812509250           62
122885  0679405283           62
37770   0345335465           62
86087   0451184726           62
32791   0312983301           62
83492   0449215296           62
62652   0385507593           62
93648   0515134368           61
34061   0316734837           61
104301  055357695X           61
16965   0140430725           61
39736   0345441265           61
227089  3442541751           61
93632   0515133876           61
124355  0679736042           61

[600 rows x 2 columns]

In [97]:
ratings_book_title.groupby('User-ID')['Book-Rating'].count().reset_index().sort_values('Book-Rating', ascending=False)[:600]

       User-ID  Book-Rating
2662     11676         8011
50550   198711         5371
25022    98391         4991
39207   153662         4582
8902     35859         4342
54195   212898         3515
71321   278418         3495
28187   110973         2353
59963   235105         2257
58743   230522         2133
19295    76352         2066
9146     36836         1991
59827   234623         1959
3879     16795         1924
32874   129358         1875
43530   171118         1861
62862   245963         1820
47159   185233         1788
25122    98741         1750
57978   227447         1709
48308   189835         1698
52066   204864         1676
48571   190925         1605
15214    60244         1601
59168   232131         1584
13968    55492         1568
13175    52584         1556
17645    69697         1511
58911   231210         1510
48164   189334         1506
...        ...          ...
68322   266753          183
27563   108352          183
43381   170575          183
8081     32721          182
33521   131855          182
19424    76818          181
32903   129465          181
34444   135458          181
69546   271195          180
58920   231237          180
2070      8936          179
58738   230496          179
21855    86202          179
23948    94242          179
61171   239594          178
9341     37567          178
22316    87974          178
32795   129008          178
27306   107301          178
42505   167349          177
57927   227250          177
28903   113817          177
28995   114178          176
61755   241666          176
22101    87143          176
9848     39467          176
39757   155916          176
57406   225232          176
65333   254971          176
40737   160295          176

[600 rows x 2 columns]

Filtram setul de date astfel incat sa ramanem cu useri activi si carti evaluate intr-un numar cat mai mare, deoarece multe carti si multi useri nu au overit mai mult de 200 de rating-uri.

In [91]:
popularity_users_threshold = 200
filter_users = ratings_book_title['User-ID'].value_counts() > popularity_users_threshold
filter_users = filter_users[filter_users].index.tolist()

popularity_books_threshold = 200
filter_books = ratings_book_title['Book-Title'].value_counts() > popularity_books_threshold
filter_books = filter_books[filter_books].index.tolist()

df = ratings_book_title[ratings_book_title['User-ID'].isin(filter_users)]
df = ratings_book_title[ratings_book_title['Book-Title'].isin(filter_books)]
df.head()

      User-ID        ISBN  Book-Rating                 Book-Title
2588   276925  0316666343            0  The Lovely Bones: A Novel
2589   277195  0316666343            0  The Lovely Bones: A Novel
2590   277413  0316666343            0  The Lovely Bones: A Novel
2591   277427  0316666343            0  The Lovely Bones: A Novel
2592   277439  0316666343            7  The Lovely Bones: A Novel

# kNN(k Nearest Neighbors)

kNN is a machine learning algorithm to find clusters of similar users based on common book ratings, and make predictions using the average rating of top-k nearest neighbors.

In [92]:
df_pivot = df.pivot(index='Book-Title', columns='User-ID', values='Book-Rating').fillna(0)
df_pivot.head()

User-ID,14,165,193,242,243,244,254,332,388,424,...,278535,278552,278582,278633,278645,278692,278755,278798,278832,278843
Book-Title,,,,,,,,,,,,,,,,,,,,,
A Heartbreaking Work of Staggering Genius,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Thousand Acres (Ballantine Reader's Circle),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
A Walk in the Woods: Rediscovering America on the Appalachian Trail (Official Guides to the Appalachian Trail),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
American Gods,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
df_matrix = csr_matrix(df_pivot.values)

In [94]:
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [95]:
query_index = np.random.choice(df_pivot.shape[0])
distances, indices = model_knn.kneighbors(df_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors=6)

for i in range (0, len(distances.flatten())):
    if i == 0:
        print('Recomandari pentru \'{0}\':\n'.format(df_pivot.index[query_index]))
    else:
        print('{0}: \'{1}\''.format(i, df_pivot.index[indices.flatten()[i]]))

Recomandari pentru 'The Nanny Diaries: A Novel':

1: 'The Hours: A Novel'
2: 'Confessions of a Shopaholic (Summer Display Opportunity)'
3: 'We Were the Mulvaneys'
4: 'Fall On Your Knees (Oprah #45)'
5: 'Where the Heart Is (Oprah's Book Club (Paperback))'